<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <main class="main">
    <div class="cv">
      <header class="cabecera">
        <div class="datos-cabecera">
          <img [ngSrc]="fotoPerfil" width="150" height="150" priority alt="Foto de perfil" class="foto-perfil">
          <div class="textos-cabecera">
            <h1>{{ nombre }}</h1>
            <h2>{{ profesion }}</h2>
          </div>
        </div>
      </header>

      <div class="conteiner">
        <aside class="lateral">
          <h2> Contacto</h2>
          <p>{{ ciudad }}</p>
          <p>{{ numero }}</p>
          <p>{{ email }}</p>
          <p>{{ github }}</p>

          <p><strong>Idiomas:</strong></p>
          <ul class="idioma">
            @for (idioma of idiomas; track idioma){
              <li>{{ idioma }}</li>
            }
          </ul>

          <p><strong>Lenguajes:</strong></p>
          <ul class="lista-tecnologias">
            @for (tec of habilidades; track tec) {
              <li>{{ tec }}</li>
            }
          </ul>

        </aside>

        <main class="principal">
          <h2>Sobre mí</h2>
          <p>{{ sobreMi }}</p>

          <section>
            <h2>Experiencia</h2>

            @for (experiencia of experiencias; track $index) {

            <article class="experiencia">

              <h3>{{ experiencia.puesto }}</h3>

              <p>{{ experiencia.empresa }}</p>

              <p>{{ experiencia.fecha }}</p>

              <p>{{ experiencia.descripcion }}</p>

            </article>

            }
          </section>

          <section>
            <h2>Formación</h2>
            @for (formacion of formacion; track $index) {

            <article class="experiencia">

              <h3>{{ formacion.titulo }}</h3>

              <p>{{ formacion.centro }}</p>

              <p>{{ formacion.fecha }}</p>

            </article>

            }

          </section>

        </main>
      </div>

      <footer class="pie">
        <p>
          {{ textoPie }} - {{ fechaActual | date: 'dd/MM/yyyy' }}
        </p>
      </footer>
    </div>
  </main>
</body>
</html>
