* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Calibri, Arial, sans-serif;
}

body {
  margin: 0;
  background: #d5eeff;
}/* You can add global styles to this file, and also import other style files */
